/*Reset CSS*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
    1.Vị trí
    2.Kích thước
    3.Màu sắc
    4.Kiểu dáng(kiểu chữ,hình tron, vuông..)
*/

/*
    1.Ngoài vào trong
    2.Từ trên xuống dưới
*/
html{
    font-family: Helvetica,Arial,sans-serif;
}
#main{
}
.text-white{
    color: #fff !important;
}
#header{
    height: 46px;
    background-color:#000;
    position:fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1;
}

#menu{

}
#menu li{
    display:inline-block;
    position:relative;
}
#menu .sub-menu{
    position:absolute;
    top:100%;
    left:0;
    background-color:#fff;
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    min-width: 180px;
    display:none;
}
#menu .sub-menu li{
    width:100%;
}
#menu .sub-menu li a{
    color:#000;
    padding:0 24px 0 12px;
}
#menu li a{
    color: #fff;
    text-decoration:none;
    line-height: 46px;
    padding:0 24px;
    display:block;
}
#menu>li>a{
    text-transform: uppercase;
}
#menu>li:hover>a,#menu .sub-menu li:hover a{
    background-color:#ccc;
    color:#000;
}
#menu li:hover .sub-menu{
    display: block;
}
#header .search{
    position:absolute;
    top:0;
    right: 0;
}
#header .search a{
    color:#fff;
    line-height: 46px;
    padding:0 24px;
    display:block;
    text-decoration:none;
}
#header .search a:hover{
    background-color: #f44336;
}
#slider{
    width: 100%;
    padding-top: 50%;
    background:url(/assets/image/la.jpg) top center / cover no-repeat;
    margin-top:46px;
    position:relative;
}
#slider .text-content{
    position:absolute;
    bottom: 47px;
    color:#fff;
    width: 100%;
    text-align: center;
}

#slider .text-heading{
    font-weight:200;
    margin-bottom: 25px;
    font-size: 24px;
}

#slider .text-description{
    font-size:15px;
}

#menu .nav-arrow-down{
    font-size: 12px;
}
#menu .nav-search{
    text-decoration: none;
}
#content{
    
}
#content .section-about{
    width: 784px;
    margin:64px 0;
    margin-left:auto;
    margin-right: auto;
}
#content .text-heading{
    text-align: center;
    margin-top:10px;
    font-weight:400;
    letter-spacing: 4px;
    font-size: 30px;
}
#content .sub-text-heading{
    text-align: center;
    margin:25px 0;
    font-style: italic;
    opacity:0.6;
}
#content .content-about{
    margin:15px 0;
    text-align:justify;
    line-height: 1.4;
    font-size:15px;
}
#content .info-band{
    margin-top:32px;
}
#content .member{
    float:left;
    width: 33.3333%;
    text-align: center;
}
#content .member-name{
    margin: 15px 0;
    font-weight:510;
    font-size: 15px;
}
#content .member-img{
    width: 154px;
    border-radius: 4px;
}
.clear{
    clear:both;
}
.section-tour-dates{
    background-color: #000;
    padding-top: 74px;
}
.list-dates-tour {
    background-color: #fff;
    list-style-type: none;
    width: 766px;
    font-size: 15px;
}
.list-dates-tour .item-date-tour{
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    height: 40px;
}
.ticker-out{
    background-color: #f44336;
    padding:0 8px;
    margin-left:16px;
}
.quantity-ticker{
    float:right;
    background-color: #000;
    padding:2px 8px;
    border-radius: 50%;
}
#content .list-locations-tour{
    padding:32px 0;
}
.list-locations-tour .item-location-tour{
    width: 246px;
    width: 30%;
    float:left;
    background-color: #fff;
    margin:0 8px;
}
.item-location-tour .picture-location-tour{
    width: 235px;
}
.item-location-tour .picture-location-tour:hover{
    /* vertical-align: middle; */
    background-color: #000;
    opacity: 0.6;
}
.item-location-tour .name-location-tour{
    margin:15px 0;
    margin-left: 16px;
    font-weight: bold;
    font-size: 15px;
}
.item-location-tour .date-location-tour{
    margin:15px 0;
    margin-left: 16px;
    opacity: 0.6;
}
.item-location-tour .content-location-tour{
    margin:15px 0;
    margin-left: 16px;
    width: 214px;
}
.buy-tickers{
    width: 108px;
    padding:8px 16px;
    background-color: #000;
    color: #fff;
    border: none;
    margin-left: 16px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 16px;
}
.buy-tickers:hover{
    background-color: #ccc;
    color:#000;
}
#footer{

}
